# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/build/
backend/target/
backend/.gradle/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Databases
backend/database/*.db
backend/database/*.tsv.gz
/backend/fkult/database/F-Kult.db
/backend/fkult/database/title.basics.tsv.gz
