@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


/*Login*/
#root:has(.login-page) {
  @apply p-0;
}

.login-container {
  @apply 
  min-h-screen flex 
  items-center 
  justify-center;
  background-color: #ede6b9;
}

.login-logo {
  @apply 
  absolute 
  top-6 
  left-6 
  w-30 
  h-auto 
}

.login-form {
  @apply 
  bg-white 
  border rounded-2xl px-12 py-10 w-full max-w-md 
  flex flex-col gap-6;
  border-color: #cfd3d7; 
}

.login-title {
  @apply 
  text-2xl 
  font-serif 
  font-bold 
  text-center 
  text-text-secondary;
}

.login-input {
  @apply 
  border rounded-md px-4 py-2.5 
  text-text-secondary 
  focus:outline-none 
  focus:ring-2 
  focus:ring-blue-300;
  border-color: #cfd3d7;
}

.login-button {
  @apply 
  border rounded-full 
  bg-blue-100 
  text-text-secondary 
  font-medium py-2.5 
  hover:bg-blue-200 
  transition-colors 
  focus:outline-none 
  focus:ring-2 
  focus:ring-blue-300;
  border-color: #cfd3d7;
}

.login-button:active {
  @apply 
  bg-blue-300;
}

.login-error {
  @apply 
  text-text-error 
  text-sm 
  text-center mt-1;
}

@theme {
  /* Colors */
  --color-topholt: oklch(0.9193 0.0591 100.1); /* Beige */
  --color-primary: oklch(1 0 0); /* White */
  --color-secondary: oklch(0.9702 0 0); /* White Smoke */
  --color-btn-primary: oklch(0.6187 0.2067 259.23); /* Blue */
  --color-btn-hover-primary: oklch(0.546 0.245 262.881); /* Dark Blue */
  --color-btn-hover-secondary: oklch(0.872 0.01 258.338); /* Light Gray */
  --color-btn-text: oklch(1 0 0); /* White */
  --color-text-primary: oklch(0 0 0); /* Black */
  --color-text-secondary: oklch(0.30 0 0); /* Gray */
  --color-link: oklch(0.627 0.194 149.214); /* Lime green */
  --color-text-error: oklch(0.628 0.2577 29.23); /* Red */
  --color-btn-red: oklch(0.577 0.245 27.325); /* Darker Red */
  --color-btn-red-hover: oklch(0.505 0.213 27.518); /* Even Darker Red */
  --color-btn-green: oklch(0.627 0.194 149.214); /* Green */
  --color-btn-green-hover: oklch(0.527 0.154 150.069); /* Darker Green */
  --color-btn-yellow: oklch(0.795 0.184 86.047); /* Yellow */
  --color-btn-yellow-hover: oklch(0.681 0.162 75.834); /* Darker Yellow */
}

@layer components {
  .btn-primary, .btn-secondary, .btn-home-page {
    @apply
    cursor-pointer
    px-5
    py-2
    rounded-2xl
    text-btn-text 
    bg-btn-primary
    hover:bg-btn-hover-primary
  }
  .btn-home-page {
    @apply
    px-6 
    py-3 
  }
  .btn-secondary {
    @apply
    bg-primary
    text-text-primary
    hover:bg-btn-hover-secondary
    border
  }

  .card-primary, .card-secondary {
    @apply 
    border-2
    border-text-primary
    text-lg 
    font-medium 
    shadow-sm 
    hover:shadow-md 
    transition 
    shrink-0
    p-1
  }

  .card-primary {
    @apply
    w-60 
    h-48
  }
}

/*animation for timer*/
@keyframes flash {
  0%   { opacity: 1; }
  50%  { opacity: 0.3; }
  100% { opacity: 1; }
}

.animate-flash {
  animation: flash 0.8s infinite ease-in-out;
}
