@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  /* Colors */
  --color-topholt: oklch(0.9193 0.0591 100.1); /* Beige */
  --color-primary: oklch(1 0 0); /* White */
  --color-secondary: oklch(0.9702 0 0); /* White Smoke */
  --color-btn-primary: oklch(0.6187 0.2067 259.23); /* Blue */
  --color-btn-hover-primary: oklch(0.546 0.245 262.881); /* Dark Blue */
  --color-btn-hover-secondary: oklch(0.872 0.01 258.338); /* Light Gray */
  --color-btn-text: oklch(1 0 0); /* White */
  --color-text-primary: oklch(0 0 0); /* Black */
  --color-text-secondary: oklch(0.30 0 0); /* Gray */
  --color-link: oklch(0.627 0.194 149.214); /* Lime green */
  --color-light-green: oklch(0.962 0.044 156.743); /* Light green*/
  --color-text-error: oklch(0.628 0.2577 29.23); /* Red */
  --color-btn-red: oklch(0.577 0.245 27.325); /* Darker Red */
  --color-btn-red-hover: oklch(0.505 0.213 27.518); /* Even Darker Red */
  --color-btn-green: oklch(0.627 0.194 149.214); /* Green */
  --color-btn-green-hover: oklch(0.527 0.154 150.069); /* Darker Green */
  --color-btn-yellow: oklch(0.795 0.184 86.047); /* Yellow */
  --color-btn-yellow-hover: oklch(0.681 0.162 75.834); /* Darker Yellow */
}

@layer components {
  .btn-primary, .btn-secondary, .btn-home-page {
    @apply
    cursor-pointer
    px-2
    sm:px-5
    py-1
    sm:py-2
    rounded-xl
    sm:rounded-2xl
    text-btn-text
    text-sm
    sm:text-base 
    bg-btn-primary
    hover:bg-btn-hover-primary
    drop-shadow-lg
  }
  .btn-home-page {
    @apply
    sm:px-6
    px-4
    sm:py-3
    py-2
  }
  .btn-secondary {
    @apply
    bg-primary
    text-text-primary
    hover:bg-btn-hover-secondary
    border
  }

  .card-primary, .card-secondary {
    @apply 
    bg-primary
    border-2
    border-text-primary
    text-lg 
    font-medium 
    shadow-sm 
    hover:shadow-md 
    transition 
    shrink-0
    p-1
    drop-shadow-lg
  }

  .card-primary {
    @apply
    w-60 
    h-48
  }
}

/*animation for timer*/
@keyframes flash {
  0%   { opacity: 1; }
  50%  { opacity: 0.3; }
  100% { opacity: 1; }
}

.animate-flash {
  animation: flash 0.8s infinite ease-in-out;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}